
body {
  padding-top: 100vh;
  margin: 0;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

main {
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#charging {
  position: fixed;
  top: 0; left: 0;
  background-color: white;
  width: 0vw;
  height: 4px;
}

#slide {
  font-family: 'Druk Wide';
  font-kerning: none;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;

  a {
    color: currentColor;
    text-decoration: none;
    &::before { content: '\21c9\20' }
    &::after  { content: '\20\21c7' }
  }

  &.nope {
    text-decoration: line-through;
  }

  &.small {
    font-size: 2vw;
  }

  &.outline {
    font-weight: bold;
    font-size: 8vw;
    color: currentColor;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2vw currentColor;

    a::after, a::before {
      -webkit-text-fill-color: currentColor;
      -webkit-text-stroke: none;
    }
  }

  &.hero {
    font-weight: bold;
    font-size: 8vw
  }
}
